.container {
  display: grid;
  grid-template-columns: 14px auto 14px;
  align-items: center;
  width: 126px;
  margin: 0 auto !important;

  @media screen and (min-width: 375px) {
    width: 136px;
  }

  @media screen and (min-width: 768px) {
    width: 157px;
  }
}

.icon {
  margin: auto !important;
  fill: rgba(255, 187, 0, 1);

  &.urgent {
    fill: rgba(255, 78, 78, 1);
    animation: blink 1s infinite ease-in-out;
  }

  &.noll {
    fill: rgba(255, 255, 255, 1);
  }
}

.box {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;

  @media screen and (min-width: 375px) {
    height: 42px;
  }

  @media screen and (min-width: 768px) {
    height: 52px;
  }
}

.timer {
  font-family: var(--font-raleway-bold);
  font-size: 28px;
  text-transform: uppercase;
  color: rgba(255, 187, 0, 1);
  line-height: 110%;
  letter-spacing: 0%;
  transition: color 0.3s ease;
  width: 72px;
  height: 100%;

  @media screen and (min-width: 375px) {
    font-size: 2rem;
    width: 86px;
  }

  @media screen and (min-width: 768px) {
    font-size: 40px;
    width: 106px;
  }

  &.urgent {
    color: rgba(255, 78, 78, 1);
    animation: blink 1s infinite ease-in-out;
  }

  &.noll {
    color: rgba(255, 255, 255, 1);
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
}
